/**
 * Editor only styles.
 */

[data-type="resource-layout-blocks-2/container"] {
  outline: 1px dashed rgba(#f00, 0.25);

  // 'Collapses' the inner blocks so that .container > .row works properly.
  > .block-editor-inner-blocks {
    display: contents;

    /* stylelint-disable-next-line */
    > .block-editor-block-list__layout {
      display: contents;
    }
  }

  // background on hover to make it visible
  &:not(.is-selected):not(.has-child-selected):hover,
  &.is-selected {
    outline: 1px dashed #f00;
  }
}
